div {
    color:red;
    position: absolute;
    font-size: 1em;    
 }

 :host {
    position: absolute;
    left:0; right: 0; bottom:0; top:10%;
    height: 90%;
    width: 100%;
    background-color: yellow;
  }

