:host {
    position: absolute;
    left:0; right: 0; bottom:0; top:10%;    
  }

  .first_live{   
    position: absolute; 
    left:5%; right: 5%; top:0; bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);        
    padding: 0; 
    margin: 0;   
    text-align: center; 

 }
 .first_live p{  
  position: absolute; 
  left:5%; right: 5%;  top:5%; bottom: 5%;
  color: white;
  margin:0;
  padding-top: 10%;
  font-size: 4em;
  font-weight: bold;
 }