<div appPlayground [ngStyle]="{width:(screenX + 'px'), height:(screenY + 'px')}"
>
  <app-covman
    [covmanCell]="covmanCell"
    #covmanwalk
  ></app-covman>

  <app-cov-enemy *ngFor="let enemy of enemies"></app-cov-enemy> 
  <app-lines
    #linewalk
    [ngStyle]="{color:'red', width:'100%', height:'100%', position:'absolute'}"    
  ></app-lines>

  <app-points></app-points>

  <ng-template [ngIf]="breakLittle && stillLive > 0 && !pointCount">
    <div class="first_live">
      <p>Nur noch {{stillLive}} Leben!</p>
    </div>
  </ng-template>
  <ng-template [ngIf]="breakLittle && stillLive == 0">
    <div class="first_live">
      <p>VERLOREN<br>
        <button (click)="newGame()">neues Spiel?</button>
      </p>      
    </div>
  </ng-template>
  <ng-template [ngIf]="breakLittle && pointCount">
    <div class="first_live">
      <p>aufgehts zu Runde {{level}}</p>
    </div>
  </ng-template>
</div>

<app-points-table
[liveToDie] = stillLive
[Level] = level
[ngStyle]="{width:( (screenXcomplete - screenX) + 'px'), height:(screenY + 'px')}"

></app-points-table>



