#covelement {
    position: absolute;
    left: 20px;
    top:0;
}

button {
    margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem;
  padding: 0;
}

h1, p {
    width: 100%;
    text-align: center; 
    margin: 0;   
}

h1 {
    color: #a5a5a5;   
    font-size: 10vw;
  }

p {
    margin-top: 1rem;
    color: #f8f8f8;
    font-size: 1.5rem;
}

.start {
    font-size: 1rem;  
    color: #fff;  
}

.start button {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 3px;
    padding: 1rem;
    cursor: pointer;
    background-color: #4CAF50;    
    color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-weight: bold; 
    border-radius: 0.25rem;
    border: 2px solid #333;
    transition-duration: 0.4s;
}

.start button:hover {
    background-color: #a5a5a5; /* Green */
    color: #333;
  }
