#covelement {
    position: absolute;
    left: 20px;
    top:0;
}

button {
    margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem;
  padding: 0;
}

h1, p {
    width: 100%;
    text-align: center; 
    margin: 0;   
}

h1 {
    color: #e6d7d7;   
    font-size: 10vw;
  }

p {
    margin-top: 1rem;
    color: #afa2a2;
    font-size: 1.5rem;
}

.start {
    font-size: 1rem;  
    color: #fff;  
}

.start button {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 3px;
    padding: 1rem;
    cursor: pointer;
    background-color: #afa2a2;
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold; 
}
