#covelement {
    position: absolute;
    left: 20px;
    top:0;
}

button, input {
    margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem;
  padding: 0;
}

h1, p {
    width: 100%;
    text-align: center; 
    margin: 0;   
}

h1 {
    color: #a5a5a5;   
    font-size: 10vw;
  }

p {
    margin-top: 1rem;
    color: #f8f8f8;
    font-size: 1.5rem;
}

.start {
    font-size: 1rem;  
    color: #fff;  
}

.start input {
  background-color: rgba(76, 175, 80, 0.6); 
}

::-webkit-input-placeholder { /* Edge */
  color: rgba(255, 255, 255, 0.75);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.75);
}

::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.start input, .start button {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  border: 2px solid #333;
}

.start button {
    margin-top: 0;
    margin-bottom: 3px;   
    cursor: pointer;
    background-color: rgb(76, 175, 80); 
    font-weight: bold; 
    border-radius: 0.25rem;   
    transition-duration: 0.4s;
}

.start button:hover {
    background-color: #a5a5a5; /* Green */
    color: #333;
  }


