<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spacer {
    flex: 1;
  }
</style>
<p>You are the <span *ngIf="title !='Survival Man'">Survival {{title}}</span></p>
<h1 *ngIf="title =='Survival Man'">{{title}}</h1>

<!--button routerLink ="/user">Go to Preferences</button><br-->

<p class="start">  
  <label>
    <input type="text" [formControl]="name" #myName placeholder="Please Enter Your Name">
  </label><br>
  <button routerLink ="/game" [disabled]="name.invalid" (click)="titleChange()" >Run For You Life</button><br>
</p>

<!--button type="submit" class="btn btn-default" [disabled]="name.invalid">Submit</button-->

<router-outlet></router-outlet>

<!--
  Bild von <a href="https://pixabay.com/de/users/enriquelopezgarre-3764790/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4957673">enriquelopezgarre</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4957673">Pixabay</a>

http://web600.serverdrome.eu/covman/

ng build --prod  --base-href=/covman/

https://angular.io/api/forms/Validators
-->

